/* Your button CSS file */
.btn-medium {
  background-color: white;
  color: #CDC9C9;
  font-weight: 300;
  border: 1px solid #CDC9C9;
  border-radius: 20px;
  padding: 10px 20px;
}

.btn-medium:hover {
  color: rgb(100 100 100);
  border: 1px solid rgb(100 100 100);
}

.btn-treehouse{
  background-color: rgb(60 179 113);
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
}
.btn-treehouse:hover{
  background-color: rgb(60 150 113);
}

.btn-yours{
  background-color:#dda15e;
  width: 200px;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 30px auto;
  display: flex;
  align-items: center;
}

.btn-yours a{
  text-decoration:none;
  color: white;
  text-align: center;
  margin:0 auto;
}
.btn-yours:hover {
  transition: background-color 1s;
  background-color: #bc6c25;
}
