/* Your card CSS file */
.card-category{
  width:500px;
  height: 200px;
  border-radius: 5px;
  background-image: url("https://source.unsplash.com/random/500x200");
  display:flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px grey;
}

.card-category h1{
  color: white;
  font-weight: bold;
  margin: 0px;

}

.card-product{
  margin-top:20px;
  width:500px;
  height: 100px;
  box-shadow: 2px 2px 5px grey;
  display: flex;
  align-items: center;
}

.card-product h4{
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product img{
  padding-right: 10px;
}

.card-product p{
  font-size:13px;
  margin: 0px;
}

.card-trip{
  background-size:cover;
  margin-top:20px;
  width:500px;
  height: 280px;
  box-shadow: 2px 2px 5px grey;
  display: flex;
  flex-direction:column;
  position: relative;
}

.card-trip-description{
  margin: 12px;
}

.card-trip-description h2 {
  font-size:18px;
  margin:0px;
}
.card-trip-description p {
  font-size:12px;
  margin:0px;
  color: grey;
}

.avatar{
  position:absolute;
  border:1px solid white;
  bottom:40px;
  right: 20px;
  border-radius: 50%;
}

.price-tag{
  position:absolute;
  bottom:7px;
  right: 23px;
  font-size:12px;
  font-weight: bold;
}

.cards-display{
  display: flex;
  justify-content: space-around;
  }

.card-plant-option {
  width: 200px;
  height:350px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #dda15e;
  padding: 10px;
}

.cards-display :hover{
  transition: background-color 1s;
  background-color: #bc6c25;
}

.card-plant-option img {
  width: 200px;
  background-position: center;
  background-size: cover;
}














